.App {
  text-align: center;
}

.page {
  margin: 45px auto;
  max-width: 1320px;
}

.page__header {
  padding: 10px;
  background: #def1f4;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.page__header h1 {
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
}

.button {
  font-size: 16px;
  color: #fff;
  text-align: center;
  height: 48px;
  line-height: 48px;
  outline: none;
  border: 0;
}

.button-red {
  background: #cc3333;
  width: 75px;
}

.button-green {
  background: #009900;
  width: 140px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  margin: auto;
}
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 10px;
  height: 455px;
}

.product__image {
  margin: 20px auto;
  height: 280px;
}
.product__image img {
  height: 260px;
  width: 240px;
}

.product__type {
  height: 38px;
  margin-bottom: 15px;
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
}

.product__name {
  font-size: 22px;
  max-width: 60%;
}
.product__price {
  font-size: 28px;
}
